---
import Layout from "../layouts/Layout.astro";
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
import Profile from "@/components/Profile.astro";
import Resume from "@/components/Resume.astro";
---

<Layout>
  <div class="body__wrapper" x-data="{ shrinkHeader: false }">
    <Header />
    <main>
      <Profile />
      <Resume />
    </main>
    <Footer />
  </div>
</Layout>
<style is:global>
  :root {
    --color-light: rgb(255 191 203);
    --color-dark: rgb(18 14 18);
    --font-family-body: "Space Mono", monospace;
    --font-family-display: "Jacquard 12", system-ui;
    --border-radius: min(6.7vw, 2rem);
    --header-height: min(28vw, 8rem);
    --border-width: min(4vw, 25px);
  }

  @media screen {
    :root {
      --content-width: 800px;
    }
  }

  @media print {
    :root {
      --content-width: 700px;
    }
  }

  body {
    margin: 0;
    font-style: normal;
    font-family: var(--font-family-body);
    background: var(--color-dark);
    color: var(--color-light);
  }

  @media screen {
    body {
      font-size: min(3.7vw, 16px);
    }
  }

  @media print {
    body {
      padding-block: 2em;
      font-size: 11px;
    }
  }

  .body__wrapper {
    max-width: var(--content-width);
    margin-inline: auto;
    padding: 0 var(--border-width) var(--border-width);
  }

  * {
    box-sizing: border-box;
  }

  ::selection {
    background-color: var(--color-light);
    color: var(--color-dark);
  }

  a {
    color: currentcolor;
  }

  :focus-visible {
    outline: 2px currentcolor dashed;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .print {
    display: none !important;
  }

  @page {
    size: auto;
    margin: 0;
  }

  @media print {
    .no-print {
      display: none !important;
    }

    .print {
      display: block !important;
    }
  }

  .screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute;
    height: 1px;
  }
</style>
