---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Work from "../components/Work.astro";
import Education from "../components/Education.astro";
import Interests from "../components/Interests.astro";
import SavePDF from "../components/SavePDF.astro";
import Profile from "../components/Profile.astro";

---

<Layout>
	<Header/>
	<Profile/>
	<section class="resume">
		<Work/>
		<Education/>
		<Interests/>
		<SavePDF/>
	</section>
</Layout>
<style is:global>
	.resume {
		background-color: var(--color--light);
		color: var(--color--dark);
		border-radius: inherit;
		position: relative;
	}

	.resume ::selection {
		background-color: var(--color--dark);
		color: var(--color--light);
	}
</style>