---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Work from "../components/Work.astro";
import Education from "../components/Education.astro";
import Interests from "../components/Interests.astro";
import SavePDF from "../components/SavePDF.astro";
import Profile from "../components/Profile.astro";

---
<Layout>
	<div class="body__wrapper">
		<Header/>
		<Profile/>
		<main class="main">
			<Work/>
			<Education/>
			<Interests/>
			<SavePDF/>
		</main>
	</div>
</Layout>
<style is:global>
	.body__wrapper {
		overflow-y: scroll;
		height: 100%;
		border-radius: var(--border-width);
		max-width: var(--content-width);
		margin-inline: auto;
	}

	.main {
		background-color: var(--color--light);
		color: var(--color--dark);
		border-radius: inherit;
		position: relative;
	}

	.main ::selection {
		background-color: var(--color--dark);
		color: var(--color--light);
	}
</style>