---
import { basics } from "@cv";

import Mail from "../icons/Mail.astro";
import LinkedIn from "@/icons/LinkedIn.astro";
import GitHub from "@/icons/GitHub.astro";
import type { SocialIcon } from "@/types";

const SOCIAL_ICONS: SocialIcon = {
    GitHub,
    LinkedIn,
};
const { profiles, phone, email } = basics;

---
<section class="contact-info">
     {
        email && (
            <a
                class="contact-info__link"
                href={`mailto:${email}`}
                target="_blank"
                rel="noopener noreferrer"
            >
                <Mail /> Email me
            </a>
        )
    }
    {
        profiles.map(({ network, url }) => {
            const Icon = SOCIAL_ICONS[network];

            return (
                <a
                    class="contact-info__link"
                    href={url}
                    target="_blank"
                    rel="noopener noreferrer">
                    <Icon />
                    {network}
                </a>
            );
        })
    }
</section>
<style>
    .contact-info {
        display: flex;
        margin-block-start: 3rem;
        gap: 0.6em;
        z-index: 100;
    }

    .contact-info__link {
        font-size: 0;
        display: block;
        width: 2.7rem;
        padding: 0.3rem;
        aspect-ratio: 1;
        margin: 3px;
        border-radius: 0.4rem;
        transition: 0.2s transform;
    }

    .contact-info__link:hover {
        transform: translateY(-0.3rem);
    }

    :global(.contact-info__link svg) {
        height: auto;
        width: 100%;
    }
</style>
