---
const { url, icon, title } = Astro.props;

import Mail from "@/icons/Mail.astro";
import LinkedIn from "@/icons/LinkedIn.astro";
import GitHub from "@/icons/GitHub.astro";
import type { Icon } from "@/types";

const ICON_OPTIONS: Icon = {
  Mail,
  GitHub,
  LinkedIn,
};

const SVG = ICON_OPTIONS[icon];
---

<a
  class="contact-info__link"
  href={url}
  target="_blank"
  rel="noopener noreferrer"
>
  <span aria-hidden="true"><SVG /></span>
  <span class="screen-reader-text">{title}</span>
</a>
<style>
  .contact-info__link {
    display: block;
    width: 2.7rem;
    padding: 0.3rem;
    aspect-ratio: 1;
    margin: 3px;
    border-radius: 0.4rem;
  }

  .contact-info__link:hover {
    background-color: var(--color-light);
    color: var(--color-dark);
  }

  /* TODO shouldn't this come with stylelint-config-html/astro? */
  /* stylelint-disable-next-line selector-pseudo-class-no-unknown */
  :global(.contact-info__link svg) {
    display: block;
  }
</style>
