---
import { getCollection, render } from "astro:content";
const education = await getCollection("education");
import DateRange from "./DateRange.astro";
---

<ul class="education">
  {
    education.map(async (entry) => {
      const {
        data: { institution, startDate, endDate, degree },
      } = entry;
      const { Content } = await render(entry);
      return (
        <li class="education__item">
          <header>
            <DateRange start={startDate} end={endDate} />
            <h4>
              {degree}
              <span aria-hidden="true"> / </span>
              {institution}
            </h4>
          </header>
          <Content />
        </li>
      );
    })
  }
</ul>
<style>
  .education__item header {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5em;
    align-items: flex-start;
  }

  .education__item h4 {
    flex: 1;
  }
</style>
