---
import { education } from "@cv";
import DateRange from "./DateRange.astro";
---

<ul>
	{
		education.map(({ institution, startDate, endDate, area }) => {
			return (
				<li>
					<h4>
                        {institution}
					</h4>
					<div>{area}</div>
                    <DateRange start={startDate} end={endDate}/>
				</li>
			);
		})
	}
</ul>
