---
import { education } from "@cv";
import DateRange from "./DateRange.astro";
---

<ul>
  {
    education.map(({ institution, startDate, endDate, degree }) => {
      return (
        <li>
          <h4>{institution}</h4>
          <DateRange start={startDate} end={endDate} />
          <p>{degree}</p>
        </li>
      );
    })
  }
</ul>
