---
import PDFIcon from "@/icons/PDF.astro";
---

<footer class="footer">
  <div class="save-pdf">
    <a
      title="Download PDF"
      aria-label="Download PDF"
      href="../../dist/MarinCarroll-Resume.pdf"
      class="save-pdf__link"
      target="_blank"
    >
      <span class="aria-hidden"><PDFIcon /></span>
      <span class="aria-hidden">PDF</span>
    </a>
  </div>
</footer>
<style>
  .footer {
    position: sticky;
    bottom: var(--border-width);
    display: flex;
    justify-content: flex-end;
    z-index: 1;
  }

  .save-pdf {
    position: absolute;
    bottom: 0;
    background: var(--color-dark);
    border-top-left-radius: var(--border-radius);
    padding-block-start: calc(var(--border-radius) * 0.35);
    padding-inline-start: calc(var(--border-radius) * 0.35);
    user-select: none;
  }

  .save-pdf::before,
  .save-pdf::after {
    content: "";
    position: absolute;
    background: transparent;
    height: calc(2 * var(--border-radius));
    width: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
    box-shadow: 0 calc(1 * var(--border-radius)) 0 0 var(--color-dark);
    z-index: -1;
  }

  .save-pdf::before {
    top: calc(-2 * var(--border-radius));
    right: 0;
  }

  .save-pdf::after {
    bottom: 0;
    left: calc(-1 * var(--border-radius));
  }

  .save-pdf__link {
    text-decoration: none;
    color: var(--color-light);
    padding-inline: 0.3em;
    padding-block: calc(0.25 * var(--border-radius));
    border-radius: calc(var(--border-radius) * 0.45);
    display: flex;
    font-size: 1.3em;
    font-weight: 500;
    align-items: center;
    gap: 0.3em;
    letter-spacing: 0.05em;
  }

  .save-pdf__link:hover {
    background-color: var(--color-light);
    color: var(--color-dark);
  }
</style>
<style is:global>
  .save-pdf svg {
    display: block;
    width: 1.3em;
  }

  @media (prefers-reduced-motion: no-preference) {
    .save-pdf__link:hover svg {
      animation: bounce 0.4s ease infinite alternate;
    }
  }

  @keyframes bounce {
    from {
      transform: translateY(0.05em);
    }

    to {
      transform: translateY(-0.08em);
    }
  }
</style>
