---
import PDFIcon from "../icons/pdf.astro";

---
<footer class="footer">
    <div class="save-pdf">
        <button onclick="console.log('test')" class="save-pdf__button">
        <span class="save-pdf__icon">
            <PDFIcon/>
        </span>
            PDF
        </button>
    </div>
</footer>
<style>
    .footer {
        position: sticky;
        bottom: var(--border-width);
        display: flex;
        justify-content: flex-end;
        z-index: 1;
    }

    .save-pdf {
        position: absolute;
        bottom: 0;
        background: var(--color--dark);
        border-top-left-radius: var(--border-radius);
        padding: 0.8em 0.35em 0.35em 0.8em;
        -webkit-user-select: none;
        user-select: none;
    }

    .save-pdf::before,
    .save-pdf::after {
        content: "";
        position: absolute;
        background: transparent;
        height: calc(2 * var(--border-radius));
        width: var(--border-radius);
        border-bottom-right-radius: var(--border-radius);
        box-shadow: 0 calc(1 * var(--border-radius)) 0 0 var(--color--dark);
        z-index: -1;
    }

    .save-pdf::before {
        top: calc(-2 * var(--border-radius));
        right: 0;
    }

    .save-pdf::after {
        bottom: 0;
        left: calc(-1 * var(--border-radius));
    }

    .save-pdf__button {
        cursor: pointer;
        background: none;
        border: none;
        color: var(--color--light);
        padding: 0.1em 0.3em;
        line-height: 1;
        border-radius: calc(var(--border-radius) * 0.5);
        display: flex;
        font-size: 1.5rem;
        align-items: center;
        font-family: var(--font-family--body);
        gap: 0.3em;
        letter-spacing: 0.05em;
    }

    .save-pdf__icon {
        width: 1.5em;
        margin-top: 0.1em;
    }
</style>