---
import { basics } from "@cv";
const { name } = basics;
---
<header class="header decorative-curve" x-data="{ open: false }">
    <button @click="open = ! open">Expand</button>
    <h1 class="header__name"  :class="{ 'test': open }">{name}</h1>
</header>
<style>

    .test {
        background: greenyellow;
    }

    .header {
        position: fixed;
        display: inline-flex;
        align-items: flex-end;
        height: var(--header-height);
        font-size: 5rem;
        z-index: 1;
        top: var(--border-width);
        background: var(--color--dark);
        border-bottom-right-radius: var(--border-radius);
        padding-right: 0.3em;
        padding-bottom: 0.1em;
    }

    .header::before {
        bottom: calc(-2 * var(--border-radius));
    }

    .header::after {
        top: 0;
        right: calc(-1 * var(--border-radius));
    }

    .header__name {
        font-family: var(--font-family--display);
        font-weight: 100;
        font-size: inherit;
        margin: 0;
    }

</style>