---
const { icon } = Astro.props;

import Mail from "@/icons/Mail.astro";
import LinkedIn from "@/icons/LinkedIn.astro";
import GitHub from "@/icons/GitHub.astro";
import PDF from "@/icons/PDF.astro";
import type { SocialIcon } from "@/types";

const ICON_OPTIONS: SocialIcon = {
    Mail,
    GitHub,
    LinkedIn,
    PDF
};

const SVG = ICON_OPTIONS[ icon ];

---
{ SVG &&
    <span class="icon" aria-hidden="true">
        <SVG/>
    </span>
}
<style is:global>
    .icon svg {
        display: block;
    }
</style>
