---
import ContactInfo from './ContactInfo.astro';
import { basics } from "@cv";
const { summary, label, location } = basics;
const { city, region } = location;
---
<section class="profile">
    <h2 class="profile__title">{label}</h2>
    <p>{city}, {region}</p>
    <p>{summary}</p>
    <ContactInfo/>
</section>

<style>
    .profile {
        position: sticky;
        top: 0;
        padding-top: calc( var(--header-height) + ( 1.5* var(--border-radius) ));
        padding-bottom: 4em;
    }

    .profile__title {
        margin-block: 0 0.5em;
    }
</style>