---
import ContactInfo from './ContactInfo.astro';
import { basics } from "@cv";
const { summary, label, location } = basics;
const { city, region } = location;
---
<section class="profile">
    <h2>{label}</h2>
    <p>{city}, {region}</p>
    <p>{summary}</p>
    <ContactInfo/>
</section>

<style>
    .profile {
        position: sticky;
        top: 0;
        padding-top: var(--header-height);
        padding-bottom: 4em;
    }
</style>