---
import Education from "./Education.astro";
import Work from "./Work.astro";
import ResumeSection from "./ResumeSection.astro";
import { Content as Etcetera } from "../etcetera.md";

// TODO: eslint parsing error only when negative percentage margins are used in
//  x-intersect?
---

<section
  class="resume"
  x-intersect:enter.margin.0.0.-100%="shrinkHeader = true"
  x-intersect:leave.margin.0.0.-100%="shrinkHeader = false"
>
  <ResumeSection title="Experience">
    <Work />
  </ResumeSection>
  <ResumeSection title="Education">
    <Education />
  </ResumeSection>
  <ResumeSection title="Etcetera" class="no-print">
    <Etcetera />
  </ResumeSection>
</section>
<style>
  .resume {
    background-color: var(--color-light);
    color: var(--color-dark);
    border-radius: var(--border-radius);
    position: relative;
    display: flex;
    flex-direction: column;
  }

  @media screen {
    .resume {
      padding: 5em 6vw 4em;
      gap: 4em;
    }
  }

  @media print {
    .resume {
      padding: 3em 4em;
      gap: 3em;
    }
  }
</style>
<style is:global>
  .resume ::selection {
    background-color: var(--color-dark);
    color: var(--color-light);
  }

  .date-range ::selection {
    background-color: var(--color-light);
    color: var(--color-dark);
  }

  .resume h3 {
    margin-block: 0 0.5em;
    font-size: 1.5em;
  }

  .resume h4 {
    margin-block: 0 0.5em;
    font-size: 1.125em;
  }

  .resume .work__item li {
    display: flex;
  }

  .resume .work__item li + li {
    margin-block-start: 0.5em;
  }

  .resume .work__item li:before {
    content: "–";
    margin-inline-end: 0.75em;
  }

  .resume p:first-of-type {
    margin-block-start: 0;
  }

  .resume p:last-of-type {
    margin-block-end: 0;
  }
</style>
