---
const { title, class: className } = Astro.props;
---

<section class:list={["resume__section", className]}>
  {title && <h2 class="resume__section-title">{title}</h2>}
  <slot />
</section>
<style>
  .resume__section {
    margin-inline: auto;
    width: 100%;
  }
</style>
