---
const { title } = Astro.props;
---

<section class="resume__section">
  {title && <h3 class="resume__section-title">{title}</h3>}
  <slot />
</section>
<style>
  .resume__section {
    margin-inline: auto;
    width: 100%;
  }
</style>
