---

---
<div class="save-pdf">
    <button class="save-pdf__button">PDF</button>
</div>
<style>
    .save-pdf {
        position: sticky;
        bottom: 0;
        left: 100%;
        display: inline-block;
        background: var(--color--dark);
        padding: 1em 2em;
    }
</style>