<span class="surprise no-print" aria-hidden="true">
  vanitas vanitatum, omnia vanitas.
</span>
<style>
  .surprise {
    position: fixed;
    object-fit: contain;
    bottom: 0;
    text-align: center;
    width: 100%;
    z-index: -1;
    line-height: 2;
    font-size: 0.8em;
    font-style: italic;
  }
</style>
